* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title-color {
    color: #0B9444;
    font-weight: 900;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
}

header {
    background-color: white;
    padding: 0 1rem;
    transition: 0.3s;
}

.scroll-header {
    position: fixed;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 15%);
    z-index: 999;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.scroll-header nav {
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.remove-logo {
    display: none;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #0B9444;
    bottom: -15px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-link:hover:after {
    width: 50%;
    left: 25%;
    right: 25%;
}

.nav-links li a {
    position: relative;
    color: #0B9444;
    text-decoration: none;
    padding: 0 0.5rem;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.active-link {
    opacity: 0.4;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #0B9444;
    margin: 5px;
    transition: all 0.3s ease;
}

.hero {
    color: #FFFFFF;
    text-align: center;
    padding: 0;
}

.slider {
    position: relative;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
    padding: 0;
}

.slick-slider .slick-slide {
    transition: opacity 1s ease-in-out !important;
}

.slick-slide img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slick-dots li button:before {
    font-size: 16px !important;
    color: #ffffff !important;
    opacity: 1 !important;
}

.slider .slick-dots li.slick-active button:before {
    color: #0B9444 !important;
    opacity: 1 !important;
}

.slider .slick-dots {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex !important;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
}

.slider .slick-dots li {
    margin: 5px 0 !important;
}

.main-slide {
    position: relative;
}

.slide-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #0B9444;
    background: transparent;
    padding: 2rem 2rem;
    border-radius: 10px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 0.3rem;
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    box-shadow: 0 0 0 #0B9444;
    animation: shadow-animation 1.5s infinite;
}

@keyframes shadow-animation {
    0% {
        box-shadow: 0 0 0 #0B9444;
    }

    50% {
        box-shadow: 0 5px 15px rgba(11, 148, 68, 0.5);
        /* Medium shadow */
    }

    100% {
        box-shadow: 0 10px 25px rgba(11, 148, 68, 0.8);
        /* Full shadow effect */
    }
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.about {
    background-color: #F0F0F0;
    color: #000000;
    padding: 2rem 0 2rem 0;
    margin: 6rem 0 3rem 0;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    flex: 1;
    padding: 0 2rem 0 2rem;
    color: #0B9444;
}

.about-text h2 {
    margin-top: 0;
}

.about-text p {
    line-height: 2.5rem;
    font-size: 22px;
    margin-bottom: 1rem;
}

.about-image {
    flex: 1;
    height: 450px;
}

.about-image img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
}

.btn {
    display: block;
    background-color: #0B9444;
    color: #FFFFFF;
    padding: 0.75rem 1.5rem;
    width: fit-content;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: larger;
}

.btn:hover {
    background-color: #006838;
}

/*full about*/
.full-about {
    padding: 2rem 0 2rem 0;
    background-color: #FFFFFF;
}

.full-about-content {
    padding: 0 2rem;
    text-align: justify;
}

.full-about-content .btn {
    margin-top: 1.5rem;
}

.full-about-content h2 {
    margin-bottom: 2rem;
    font-size: 40px;
}

.parag {
    line-height: 2.5rem;
    font-size: 22px;
    color: #0B9444;
    display: flex;
    align-items: center;
    height: 100%;
}

.flex span {
    margin-top: 3rem;
    color: #0B9444;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 1rem;
    border-left: 3px solid #0B9444;
    display: flex;
    align-items: center;
    width: fit-content;
}

.parag-first {
    padding-right: 2rem;
    padding-bottom: 6rem;

}

.parag-second {
    padding-left: 2rem;
    padding-bottom: 6rem;
}

.span-flex span {
    margin-top: 4rem;
    color: #0B9444;
    font-size: 1.3rem;
    margin-left: 2rem;
    font-weight: 600;
    padding-left: 1rem;
    border-left: 3px solid #0B9444;
    display: flex;
    align-items: center;
}

.full-about-content .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
}

.first-grid-item {
    grid-column: span 2;
}

.second-grid-item {
    grid-column: span 2;
}

.about-paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.full-about-content .quote {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 0.25rem;
}

.full-about-content .quote blockquote {
    font-style: italic;
    color: #666666;
    display: inline;
    font-size: 16px;
    padding-left: 1rem;
    border-left: 4px solid #0B9444;
}

.full-about-content .sm img {
    width: 100%;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.full-about-content .first img {
    height: 350px;
}

/*events*/
.events {
    background-color: #F0F0F0;
    padding: 4rem 0;
    text-align: center;
}

.events-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*margin: 0 0 0 2rem;*/
    padding: 0 1rem;
    gap: 1rem;
}

.events-container .events-image img {
    max-width: 100%;
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 12px;
}

.event-card {
    color: #FFFFFF;
    background-color: #0B9444;
    border-radius: 12px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-details {
    text-align: center;
}

.event-details h3 {
    margin-top: 0;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}

.event-details p {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 0.2rem;
}

.event-details .btn {
    background-color: #FFFFFF;
    color: #0B9444;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;
    border-radius: 5px;
    transition: 0.3s ease;
}

.event-details .btn:hover {
    background-color: #006838;
    color: #FFFFFF;
}

.Principles {
    padding: 4rem 0;
    text-align: center;
}

.Principles-card {
    max-height: 140px !important;
    height: 140px !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 0.75rem 0 0.5rem 0;
    color: #ffffff;
    text-align: center;
    margin: 0 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(11, 148, 68, 0.4);
    background-color: #006838;
    border: 1px solid #006838;
    margin-bottom: 4rem;
}

.Principles-quote {
    font-style: italic;
    font-size: 16px;
    padding: 1rem 1rem 0 1rem;

}

.Principles-title {
    font-weight: 900;
    font-size: 20px;
}

.gallery {
    padding: 4rem 0;
    text-align: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 90%;
    margin: auto;
}

.grid-container .grid-item {
    padding: 10px;
    border-radius: 12px;
    flex-basis: 30%;
    transition: all 0.5s;
    margin: 0 auto;
}

.grid-container .grid-item:hover {
    transform: scale(101%);
    box-shadow: 3px 3px 8px #006838;
    ;
}

.grid-container .grid-item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    border-radius: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: block;
    width: 90vw;
    height: 90vh;
    border-radius: 12px;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.chants {
    background-color: #FFFFFF;
    padding: 4rem 0;
    text-align: center;
}

.chants .container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#chants-and-songs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chants-and-songs .song-cover {
    max-width: 100%;
    width: 100%;
    height: 650px;
    border-radius: 12px;
    object-fit: cover;
}

audio {
    display: none;
}

.song-container {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.5rem;
    width: 70%;
    height: 60px;
    border-radius: 65px;
    top: 7.5px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
    box-shadow: 0 1px 5px #0B9444;
}


.play-icon {
    display: block;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.lyrics {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.lyrics .lyricsimg {
    max-width: 100%;
    width: 100%;
    height: 500px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
}

.merchandise {
    background-color: #F0F0F0;
    padding: 4rem 0;
    text-align: center;
}

.merchandise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 2rem;
}

.merch-item {
    background-color: #FFFFFF;
    max-width: 400px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 12px;
    filter: blur(5px);
    opacity: 0.8;
}

.availability-info {
    display: block;
    font-size: 0.9rem;
    color: #535353;
    margin-top: 0.5rem;
    text-align: center;
}

.merch-item h3 {
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 0.2rem;
}

.merch-item p {
    font-size: x-large;
}

.merch-item .btn {
    margin: 0.5rem auto 0 auto;
}

.merch-item img {
    max-width: 100%;
}

.contact {
    padding: 3rem 0 0 0;
    text-align: center;
}

.contact .title-color {
    color: #FFFFFF;
}

.contact .footer-main-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contact-container .contact-flex-left {
    padding: 0;
    grid-row: 1;
}

.contact-container .contact-flex-left img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contact-flex-right {
    background-color: #006838;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.footer-title {
    font-size: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.contact-form label {
    font-size: 14px;
}

.contact-form .message-label {
    margin-bottom: 0.5rem;
}

.contact-form input {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
}

.contact-form input,
.contact-form textarea {
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    width: 100%;
}

.contact-form textarea {
    border-radius: 5px;
    color: #006838;
    margin-bottom: 0.8rem;
}

.contact-form button {
    background-color: transparent;
    color: #FFFFFF;
    padding: 0.75rem 1rem;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-left: 10%;
}

.contact-form button:hover {
    opacity: 0.7;
}

.contact-container .social-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.contact-container .social-list li {
    transition: 0.3s ease;
}

.contact-container .social-list li:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}


.contact-container .social-list li a {
    text-decoration: none;
    font-size: 25px;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Instagram colors */
.contact-container .social-list li:nth-child(1) a i {
    color: #FFFFFF;
}

/*Facebook colors*/
.contact-container .social-list li:nth-child(2) a i {
    color: #FFFFFF;
}

/* WhatsApp colors */
.contact-container .social-list li:nth-child(3) a i {
    color: #FFFFFF;
}

/* TikTok colors */
.contact-container .social-list li:nth-child(4) a i {
    color: #FFFFFF;
}

.copyright-notice p {
    color: #e7e7e7;
    font-size: 13px;
    letter-spacing: 0.2rem;
}

.copyright-notice p:nth-of-type(1) {
    padding-top: 0.5rem;
}

.copyright-notice p:nth-of-type(2) {
    padding-top: 0.2rem;
}


/* Media Queries */
@media screen and (max-width: 1338px) {
    .event-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1231px) {
    .lyrics .lyricsimg {
        height: 400px;
    }

    #chants-and-songs .song-cover {
        height: 550px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: white;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .nav-position {
        top: calc(24px + 2.5rem);
    }

    .nav-links.active {
        opacity: 1;
        pointer-events: all;
        z-index: 999;
    }

    .nav-link:after {
        bottom: -5px;
    }

    .nav-links li {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .scroll-header nav {
        justify-content: right;
    }

    .burger {
        display: block;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /*home*/
    .slide-title {
        width: 70%;
    }

    /*values*/
    .Principles-card {
        max-height: 160px !important;
        height: 160px !important;
    }

    /*songs*/
    .lyrics .lyricsimg {
        height: 350px;
    }

    #chants-and-songs .song-cover {
        height: 450px;
    }

    .song-container {
        height: 40px;
        top: 5px;
    }

    .play-icon {
        width: 28px;
        height: 28px;
    }

    /*contact*/
    .contact-container .contact-flex-left img {
        object-fit: cover;
    }
}

@media screen and (max-width: 850px) {

    /*values*/
    .Principles-card {
        max-height: 185px !important;
        height: 185px !important;
    }
}

@media screen and (max-width: 920px) {

    /*home*/
    .slider {
        max-height: 600px;
        height: 600px;
    }

    .slick-slide img {
        max-height: 600px;
        height: 600px;
    }

    .slide-title {
        font-size: 2.1rem;
        padding: 1.2rem 1.2rem;
    }

    /*about*/
    .about-text p {
        line-height: 2rem;
    }

    .full-about-content .quote {
        width: 100%;
    }

    /*events*/
    .events-container .events-image {
        display: none;
    }

    .events-container {
        grid-template-columns: 1fr;
    }

    /*songs*/
    .chants .container {
        position: relative;
    }

    .lyrics {
        justify-content: center;
        flex-direction: column;
        position: static;
    }

    .lyrics .lyricsimg {
        height: 400px;
    }

    #chants-and-songs .song-cover {
        height: 800px;
    }

    .song-container {
        width: 30%;
        top: 25px;
        left: 4rem;
        transform: translateX(0);
    }

}

@media screen and (max-width: 768px) {

    /*home*/
    .slider {

        height: auto;
    }

    .hero-img1 {
        content: url('./images/image5-mobile.jpg');
    }

    .hero-img2 {
        content: url('./images/image3-mobile.jpeg');
    }

    .hero-img3 {
        content: url('./images/image1-mobile.jpeg');
    }

    .slick-slide img {

        height: auto;
    }

    .slide-title {
        font-size: 1.6rem;
        width: 80%;
    }

    /*about*/
    .about {
        padding: 2rem 0 2rem 0;
        margin: 2rem 0 0 0;
    }

    .about-text {
        padding: 0 1rem 0 1rem;
    }

    .about-text h2 {
        margin-bottom: 0.5rem;
    }

    .about-text p {
        font-size: 18px;
    }

    .about-image {
        height: 400px;
    }

    .btn {
        padding: 0.5rem 1rem;
    }

    .full-about-content .about-grid {
        row-gap: 2.5rem;
    }

    .full-about-content h2 {
        font-size: 30px;
    }

    .parag {
        line-height: 2rem;
        font-size: 20px;
    }

    .full-about-content .quote blockquote {
        font-size: 14px;
    }

    .second-grid-item .about-paragraph {
        grid-template-columns: 1fr;
    }

    .parag-second {
        padding-left: 0;
        padding-top: 0.5rem;
    }

    /*gallery*/
    .gallery-img1 {
        content: url('./images/gallery1-mobile.jpeg');
    }

    .gallery-img2 {
        content: url('./images/gallery2-mobile.jpg');
    }

    .gallery-img3 {
        content: url('./images/gallery3-mobile.jpeg');
    }

    .gallery-img4 {
        content: url('./images/gallery4-mobile.jpg');
    }

    .gallery-img5 {
        content: url('./images/gallery5-mobile.jpg');
    }

    .gallery-img6 {
        content: url('./images/gallery6-mobile.png');
    }

    .grid-container {
        width: 95%;
    }

    .grid-container .grid-item {
        flex-basis: 50%;
    }

    /*songs*/
    #chants-and-songs .song-cover {
        content: url('./images/joe_chamoun_cover_2-mobile.jpg');
        height: 600px;
    }

    .lyrics .lyrics1 {
        content: url('./images/lyrics1-mobile.jpg');
    }

    .lyrics .lyrics2 {
        content: url('./images/lyrics2-mobile.jpg');
    }

    .lyrics .lyricsimg {
        height: 300px;
    }

    /*merch*/
    .merch1-mobile {
        content: url('./images/ultras_t_shirt1-mobile.jpg');
    }

    .merch2-mobile {
        content: url('./images/ultras-t-shirt2-mobile.jpg');
    }

    /*contact*/
    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-container .contact-flex-left {
        display: none;
    }

    .copyright-notice p {
        font-size: 11px;
    }
}

@media screen and (max-width: 577px) {

    /*home*/
    .slide-title {
        padding: 0.8rem;
    }

    .slider .slick-dots li button:before {
        font-size: 12px !important;
    }

    .slider .slick-dots li {
        margin: 2px 0 !important;
    }

    /*about*/
    .about-content {
        position: relative;
    }

    .about .about-text {
        position: absolute;
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(255, 255, 255, 0.8);
        text-align: center;
        z-index: 1;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        /* For Safari */
    }

    .about-text p {
        line-height: 1.5rem;
    }

    .about-image {
        width: 100%;
        padding: 0 0.5rem;
    }

    .btn {
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
    }

    .full-about {
        padding-bottom: 0;
    }

    .full-about-content .about-grid {
        row-gap: 3rem;
    }

    .parag {
        font-size: 18px;
    }

    .first-grid-item .about-paragraph {
        grid-template-columns: 1fr;
    }

    .parag-first {
        padding-right: 0;
    }

    .flex span {
        margin-top: 1rem;
        color: #0B9444;
        font-size: 1.3rem;
        font-weight: 600;
        padding-left: 1rem;
        border-left: 3px solid #0B9444;
        display: flex;
        align-items: center;
        width: fit-content;
    }

    .parag-first {
        padding-right: 2rem;
        padding-bottom: 3rem;

    }

    .parag-second {
        padding-left: 0;
        padding-bottom: 3rem;
        padding-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .span-flex {
        margin-bottom: 0;
    }

    .span-flex span {
        margin-top: 2rem;
        color: #0B9444;
        font-size: 1.3rem;
        margin-left: 0;
        font-weight: 600;
        padding-left: 1rem;
        border-left: 3px solid #0B9444;
        display: flex;
        align-items: center;
    }

    /*values*/
    .Principles-card {
        max-height: 155px !important;
        height: 155px !important;
        margin-bottom: 1.5rem;
    }

    .Principles-quote {
        font-size: 16px;
        letter-spacing: 0.1rem;
    }

    .Principles-title {
        font-size: 20px;
        letter-spacing: 0.1rem;
    }

    /*gallery*/
    .modal-content {
        height: 70vh;
    }

    .grid-container .grid-item {
        padding: 5px;
    }

    /*merchandise*/
    .merchandise-grid {
        grid-template-columns: 1fr;
    }

    /*events*/
    .event-cards {
        gap: 0.5rem;
    }

    .event-details h3 {
        letter-spacing: 0.1rem;
        font-size: 18px;
    }

    .event-details p {
        font-size: 16px;
        letter-spacing: 0.1rem;
    }

    .merch-item h3 {
        font-size: 18px;
    }

    .merch-item img {
        max-height: 250px;
    }

    /*contact*/
    .contact-form button {
        padding: 0.5rem 0.8rem;
        font-size: 14px;
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 524.98px) {

    /*events*/
    .event-details p {
        font-size: 14px;
    }

    /*songs*/
    .chants .container {
        flex-direction: column;
        gap: 0.5rem;
    }

    #chants-and-songs .song-cover {
        max-width: 60%;
        object-fit: fill;
        height: 500px;
    }

    .lyrics {
        gap: 0.5rem;
    }

    .lyrics .lyricsimg {
        height: 400px;
        max-width: 60%;
        object-fit: fill;
    }

    .song-container {
        height: 35px;
        width: 50%;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 1px 2px #0B9444;
    }

    .play-icon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 480px) {

    /*home*/
    .slider {
        max-height: 400px;
        height: 400px;
    }

    .slick-slide img {
        max-height: 400px;
        height: 400px;
    }

    .slide-title {
        font-size: 1.3rem;
        width: 90%;
    }

    .title-color {
        font-size: 1.2rem;
    }

    /*about*/
    .about-text p {
        font-size: 16px;
        line-height: 1.2rem;
    }

    .parag {
        font-size: 16px;
        line-height: 1.8rem;
    }

    .full-about-content .sm img {
        height: 300px;
    }

    /*events*/
    .event-cards {
        grid-template-columns: 1fr;
    }

    .event-details p {
        padding: 0;
    }

    /*gallery*/
    .modal-content {
        width: 95vw;
        height: 50vh;
    }

    .chant audio {
        max-width: 80%;
    }

    /*merch*/
    .merch-item p {
        font-size: medium;
        font-weight: 500;
    }

    .merch-item h3 {
        font-size: 16px;
    }

    /*songs*/
    #chants-and-songs .song-cover {
        max-width: 85%;
        object-fit: fill;
        height: 500px;
    }

    .lyrics .lyricsimg {
        height: 400px;
        max-width: 85%;
        object-fit: fill;
    }

    /*contact*/
    .contact-form label {
        font-size: 11px;
        letter-spacing: 0.3rem;
    }

    .contact-form textarea {
        margin-bottom: 0.5rem;
    }

    .contact-form button {
        padding: 0.4rem 0.6rem;
        font-size: 12px;
    }

    .footer-title {
        font-size: 0.9rem;
    }

    .contact-container .social-list li a {
        font-size: 18px;
        padding: 0 0.35rem;
    }

    .copyright-notice p {
        font-size: 10px;
        letter-spacing: 0.1rem;
    }

}

@media screen and (max-width: 355px) {

    /*about*/
    .full-about-content .sm img {
        height: 200px;
    }

    /*values*/
    .Principles-card {
        max-height: 165px !important;
        height: 165px !important;
        margin-bottom: 1.5rem;
    }

    /*songs*/
    #chants-and-songs .song-cover {
        max-width: 85%;
        object-fit: fill;
        height: 400px;
    }

    .lyrics .lyricsimg {
        height: 350px;
        max-width: 85%;
        object-fit: fill;
    }
}